PORT=48321
VPN_CONNECTION_NAME=Minha VPN
VPN_USERNAME=
VPN_PASSWORD=
VPN_DOMAIN=
AGENT_API_TOKEN=
ALLOWED_ORIGINS=http://localhost:5173,https://mcservicos-frontend.vercel.app,https://mcservicos.vercel.app
